# Python virtual environment and local configurations
backend/.venv/
backend/.env
backend/__pycache__/
backend/**/*.pyc
backend/static/reports/

# Frontend dependencies and logs
frontend/node_modules/
frontend/dist/
frontend/vite.err.log
frontend/vite.log

# System files
.DS_Store
Thumbs.db
